
#box{
	
	width:80px;
	height:80px;
	background:#3399FF;
	top:150;
	left:150;
	position:relative;
	-moz-transition: all 1s; 
	-webkit-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition: all 1s;
	transition-timing-function: ease;  
}


#marker
{
	height:60px;
	width:5px;
	background: #000000;
	top:5;
	left:5;
	position:absolute;
	-moz-transition: all 1s; 
	-webkit-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition: all 1s;
	transition-timing-function: linear  
}

#timeline                   
{
	border:1px solid grey; 
	background:#FF3333;
	position:relative;
	height:60px;
	width:100%;
	bottom:10%;
	left:0%;
}
